.note_slider {
  margin: 3rem 1rem;
  display: grid;
  overflow-x: auto;
  grid-auto-flow: column;
  grid-auto-columns: minmax(18.75rem, 18.56rem);
  grid-gap: 1rem;
}

@media screen and (max-width: 769px) {
  .note_slider {
    margin: 3rem 1rem;
    display: grid;
    overflow-x: auto;
    grid-auto-flow: column;
    grid-auto-columns: 18.56rem;
    grid-gap: 1rem;
  }
}
