.card_title {
  font-size: 1.2rem;
  width: 90%;
}

.card_info {
  flex-direction: flex-start;
  padding: 0.7rem;
  font-size: 0.8rem;
}

.remove_icon {
  position: relative;
  width: 10%;
}

.card_reset {
  margin: 1rem;
  color: var(--dark-black);
}

.card_footer_reset {
  font-size: 0.9rem;
}

.tag_show {
  border: 1px solid var(--light-black);
  padding: 1px 8px;
  border-radius: 8px;
}

.monu_show {
  display: none;
  background-color: var(--mint-white);
  align-items: center;
  justify-content: flex-end;
  padding: 0.5rem 0.1rem;
  z-index: 2;
  border-radius: 4px;
  position: absolute;
  animation-delay: 0.2s;
  transition: transform 0.5s ease;
}

.remove_icon:hover > .monu_show {
  display: block;
}
