.colorlist {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.box_color {
  border: 1px solid var(--light-black);
  min-width: 9.5rem;
  height: 2rem;
}

@media screen and (max-width: 47.5rem) {
  .colorlist {
    grid-template-columns: 1fr;
  }
  .modal_s {
    width: 51%;
  }
}
