.signup_box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  width: 100%;
  height: 100vh;
}

.signup_form {
  padding: 1rem 2rem;
  min-width: 30%;
  border: 1px solid var(--light-black);
}
