:root {
  --var-orange: #f5ab35;
  --var-blue: #4183d7;
  --body-color: #ffffff;
}

/* Active link */
.active_url {
  border-bottom: 1px solid var(--var-blue);
}

.section_heading {
  font-size: 1.2rem;
}

.letter-space {
  letter-spacing: 0.1rem;
}

.pointer {
  cursor: pointer;
}

.icon-gray {
  color: var(--light-black);
  cursor: pointer;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.align-item {
  align-items: center;
}

.video_title {
  font-size: 1rem;
}
.card-info {
  padding: 0.3rem;
}

/* button css change*/
.btn {
  border-radius: 6px;
}
.btn-primary {
  background-color: var(--var-blue);
}

/* this will provide in ci later */
.grid-container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
}

/* menu for profile */

.menu {
  position: absolute;
  top: 46px;
  right: 0px;
  padding: 0.2rem 1.5rem;
  background: var(--mint-white);
  min-width: 8.2rem;
  box-sizing: 0 0.3125rem 1.5625rem var(--light-black);
  border-radius: 10px;
  transition: 0.5s;
  border: 1px solid var(--primary-color);
  z-index: 1;
}

.menu.active {
  top: 80px;
  visibility: visible;
  opacity: 1;
}

.menu h3 {
  width: 100%;
  text-align: center;
  font-size: 1.125rem;
  padding: 1.25rem 0;
  font-weight: 500;
  color: var(--light-black);
  line-height: 1.5em;
}

.menu h3 span {
  font-size: 14px;
  color: var(--light-blue);
  font-weight: 300;
}

.menu ul li {
  list-style: none;
  border-top: 1px solid var(--light-black);
  display: flex;
  align-items: center;
}

.menu ul li a {
  display: inline-block;
  text-decoration: none;
  color: var(--light-black);
  font-weight: 500;
  transition: 0.5s;
}

.menu ul li:hover a {
  color: var(--light-blue);
}

.text_ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 0.1rem;
}
.right_button_part {
  flex-basis: 30%;
}
.btn {
  font-size: 0.8rem;
}

/* Loader css */

.loader {
  z-index: 2;
  position: fixed;
  top: 45%;
  left: 0%;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  place-items: center;
  width: 0%;
  height: 0%;
  border-left: 1.875rem solid transparent;
  border-right: 1.875rem solid transparent;
  border-bottom: 1.875rem solid var(--var-blue);
  border-top: 1.875rem solid var(--var-orange);
  -webkit-animation: loader 1.2s ease-in-out infinite alternate;
  animation: loader 1.2s ease-in-out infinite alternate;
}

@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg);
  }
}

@-webkit-keyframes loader {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(720deg);
  }
}

@media (max-width: 900px) {
  .arrows {
    display: none;
  }
}

@media (max-width: 767px) {
  .rs-row {
    grid-template-columns: repeat(2, 1fr);
  }

  .section_box {
    margin: 1rem;
  }
}
